#headermain {
    background-color: lightgray;
    height: 10%;
}

#bottom {
    position: absolute;
  bottom: 10px;
}

#btn100 {
  width: 100%;
}

.iconstyle {
  vertical-align: middle !important;
  display: inline-flex;

}